<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lunar Lyrics </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Edu+NSW+ACT+Cursive&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Quintessential&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Edu+NSW+ACT+Cursive&family=Merienda:wght@300..900&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Quintessential&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="icon" href="/images/roseicon.jpg" type="image/x-icon">


</head>

<nav>
    <ul class="nav-list">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/lyrics">Lyrics</a></li>
        <li><a href="/contact">Contact</a></li>

    </ul>
</nav>

<hr>

<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div id="title"><span>Welcome to the Parallel Universe</span></div>

<img class="rose" src="/images/darkrose.jpg" alt="Dark Rose image" height="500" width="300">