<%- include('partials/header.ejs') %>
    <div class="container">
        <div class="text">
            <h3 class="merienda" style="margin-top: 50px;">Hello, I am Catherin Gino<br>
                A technical mind and a creative soul.<br>
                ~Keep Reading...~ <em>Bye</em></h3>
        </div>
        <div class="image">
            <img src="/images/myself.jpg" alt="A image of Myself" class="myself-image">
        </div>
    </div>
    <%- include('partials/footer.ejs') %>