<%- include('partials/header.ejs') %>

    <div class="blog">

        <div class="border">
            <div class="container">
                <div class="text">
                    <h3><em>
                            ~She was cryin’ on my shoulder<br>
                            All I could do was hold her<br>
                            Only made us closer until July<br>
                            Now, I know that you love me<br>
                            You don't need to remind me<br>
                            I should put it all behind me, shouldn't I?
                        </em></h3>
                    <p>What we often refuse to realize is that holding on to the past - <br>
                        no matter what it was or how awful it was - is ONLY HURTING
                        US.<br><br> "They" really don't care. <br> Usually, "they" are not even aware. <br>
                        We are only hurting ourselves by refusing to live in this moment
                        to the fullest. <br> - You can Heal your Life.<br><br>
                        <b>I am not aware most of the time that it's all in my head and I am the one who is hurting
                            myself and no one else.</b><br><br>
                        You are already enough, Luna ~ I LOVE YOU ~ @14/07/2025
                    </p>
                </div>
                <div class="image">
                    <img class="responsive-img custom-img" src="/images/moon.jpeg" alt="Beautiful Moon">
                </div>
            </div>
        </div>

        <div class="border">
            <div class="container">
                <div class="image">
                    <img class="responsive-img custom-img" src="/images/darkness.jpeg"
                        alt="everything I wanted by Billie Eilish">
                </div>
                <div class="text">
                    <h3><em>~As long as I'm here, no one can hurt you<br>
                            Don't wanna lie here, but you can learn to<br>
                            If I could change the way that you see yourself<br>
                            You wouldn't wonder why you hear<br>
                            'They don't deserve you~</em></h3>
                    <p>“Last year, I rested. This year, I rise.”<br><br>
                        I learnt a lot in the past year ~ like so much...<br>
                        I have no idea where to start
                        -love-friendship-happiness-sorrow-excitement-fear-clarity-confusion-calmness-and finally
                        peace and finding myself again after the war is over.<br>
                        It may seem like I am overreacting to you but I felt it all - I lived it.<br>
                        but right now, In this moment I love it all - I love everything that I felt, every single
                        emotions makes me complete and makes me uniquely me.<br><br>
                        It's okay if I am a bit late, my timing is just different from the rest and I bloom 🌹 when it's
                        the right time for me~<br><br>
                        with LOVE~ @13/07/2025</p>

                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>