<%- include('partials/header.ejs') %>

    <div class="blog">
        <div class="border">
            <div class="container">
                <div class="image">
                    <img class="responsive-img custom-img" src="/images/darkness.jpeg" alt="everything I wanted by Billie Eilish">
                </div>
                <div class="text">
                    <h3><em>~As long as I'm here, no one can hurt you<br>
                            Don't wanna lie here, but you can learn to<br>
                            If I could change the way that you see yourself<br>
                            You wouldn't wonder why you hear<br>
                            'They don't deserve you~</em></h3>
                    <p></p>

                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>