<%- include('partials/header.ejs') %>

    <div class="blog">
        <div class="border">
            <div class="container">
                <div class="image">
                    <img class="responsive-img custom-img" src="/images/darkness.jpeg"
                        alt="everything I wanted by Billie Eilish">
                </div>
                <div class="text">
                    <h3><em>~As long as I'm here, no one can hurt you<br>
                            Don't wanna lie here, but you can learn to<br>
                            If I could change the way that you see yourself<br>
                            You wouldn't wonder why you hear<br>
                            'They don't deserve you~</em></h3>
                    <p>“Last year, I rested. This year, I rise.”<br><br>
                        I learnt a lot in the past year ~ like so much...<br>
                        I have no idea where to start
                        -love-friendship-happiness-sorrow-excitement-fear-clarity-confusion-calmness-and finally
                        peace and finding myself again after the war is over.<br>
                        It may seem like I am overreacting to you but I felt it all - I lived it.<br>
                        but right now, In this moment I love it all - I love everything that I felt, every single
                        emotions makes me complete and makes me uniquely me.<br><br>
                        It's okay if I am a bit late, my timing is just different from the rest and I bloom 🌹 when it's
                        the right time for me~<br><br>
                        with LOVE~ @13/07/2025</p>

                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>