<%- include('partials/header.ejs') %>

    <div class="contact">
        <div class="border">
            <div class="container">
                <div class="text" style="padding: 13%;">
                    <h3 class="merienda">Contact Me###</h3>
                    <p class="merienda">If you want to chat, give me suggestions, or just want to say hi, feel free to
                        reach out!</p>
                    <p class="merienda">Mail me: <a class="link" href="mailto:catheringino@gmail.com">Click Me</a>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>