<%- include('partials/header.ejs') %>

<div id="home">
    <div class="border">
        <div class="container">
            <div class="text">
                <h3><em>~Our love is six feet under<br>
                        I can't help but wonder<br>
                        If our grave was watered by the rain~</em></h3>

                <p>I am currently reading a book named - <em>You Can Heal your Life</em> by Louise Hay.<br>
                    I have just read a few chapters but I can already feel the effects it is having on me, I want to
                    share this small passage I read which hit deep - <br><br>
                    How perfect you were when you were a tiny baby. Babies do not have to do anything to become perfect;
                    they already are perfect, and they act as if they know it. They know they are the center of the
                    Universe. They are not afraid to ask for what they want. They freely express their emotions. You
                    know when a baby is angry- in fact, the whole neighborhood knows. You also know when babies are
                    happy, for their smiles light up a room. They are full of love.<br><br>
                    Then we began to listen to adults around us who had learned to be fearful, and we began to deny our
                    own magnificence.<br><br>
                    and that was just perfectly said. DAMN!!<br>
                    @12/07/2025</p>
            </div>
            <div class="image">
                <img class="responsive-img custom-img" src="/images/rainbow.jpg" alt="Rainbow image">
            </div>
        </div>
    </div>
</div>


    <%- include('partials/footer.ejs') %>