<%- include('partials/header.ejs') %>

    <div class="border">
        <div class="container">
            <div class="text">
                <h3 class="lyric-text"><em>Rewrite the Stars</em> by <br>
                    Zac Efron & Zendaya</h3>
            </div>
            <div class="text">
                <p><em>You know I want you</em><br>
                    It's not a secret I try to hide<br>
                    <em>I know you want me</em><br>
                    So don't keep sayin' our hands are tied<br>
                    You claim it's not in the cards<br>
                    And fate is pulling you miles away and out of reach from me<br>
                    But you're here in my <em>heart</em><br>
                    So who can stop me if I decide that you're my <em>destiny?</em></p>
            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>