<%- include('partials/header.ejs') %>

    <!-- <div class="border">
        <div class="container">
            <div class="text">
                <h3 class="lyric-text"><em></em></h3>
            </div>
            <div class="text"><p></p></div>
        </div>
    </div> -->

    <div class="border">
        <div class="container">
            <div class="text">
                <p><b><em>How can we say that this is love
                    When it goes like this?</em></b><br><br>


                    <em>We'll get in your car and you'll lean to kiss me<br>
                    We'll talk for hours and lie on the backseat</em><br>
                    Uh-huh, uh-huh, uh<br>
                    Uh-huh, uh-huh<br><br>
                    <del>And then one random night when everything changes<br>
                    You won't reply and we'll go back to strangers</del><br>
                    Uh-huh, uh-huh, uh<br>
                    Uh-huh, uh-huh, uh (Go back to strangers)</p>
            </div>
            <div class="text">
                <h3 class="lyric-text blue"><em>Strangers
                    </em> by <br> Kenya Grace</h3>
            </div>
        </div>
    </div>

    <div class="border">
        <div class="container">
            <div class="text">
                <p>Make me sweat, make me hotter <em>(Hotter)</em><br>
                Make me lose my breath, make me water<br>
                Make me sweat <em>(Sweat)</em>, make me hotter <em>(Hotter)</em><br>
                Make me lose my breath, make me water <em>(Make me sweat)</em><br>
                Make me sweat, make me hotter <em>(Hotter)</em><br>
                Make me lose my breath, make me water<br>
                Make me sweat <em>(Sweat)</em>, make me hotter <em>(Hotter)</em><br>
                Make me lose my breath, make me water<br></p>
            </div>
            <div class="text">
                <h3 class="lyric-text green"><em>Water
                    </em> by<br> Tyla</h3>
            </div>
        </div>
    </div>

    <div class="border">
        <div class="container">
            <div class="text">
                <p>No need to imagine 'cause I know it's true<br>
                They say, <em>"All good boys go to Heaven"<br>
                    But bad boys bring heaven to you</em><br>
                <b>It's automatic</b>, it's just what they do<br>
                They say, <em>"All good boys go to Heaven"<br>
                    But bad boys bring heaven to you</em><br><br>

                You don't realize the power they have<br>
                <del>Until they leave you</del> and you want them back<br>
                Nothing in this world prepares you for that.</p>
            </div>
            <div class="text">
                <h3 class="lyric-text purple"><em>Heaven
                    </em> by <br>Julia Michaels</h3>
            </div>
        </div>
    </div>

    <div class="border">
        <div class="container">
            <div class="text">
                <p>If you've got a girlfriend, I'm jealous of her<br>
                    But if you're <em>single</em>, that's honestly worse<br>
                    'Cause you're so <em>gorgeous</em> it actually hurts <em>Honey, it hurts</em><br><br>

                    <em>Ocean blue eyes lookin' in mine<br>
                        I feel like I might sink and drown and die...</em>
                </p>
            </div>
            <div class="text">
                <h3 class="lyric-text pink"><em>Gorgeous </em> by <br>
                    Taylor-Swift</h3>
            </div>
        </div>
    </div>

    <div class="border">
        <div class="container">
            <div class="text">
                <p><em>You know I want you</em><br>
                    It's not a secret I try to hide<br>
                    <em>I know you want me</em><br>
                    So don't keep sayin' our hands are tied<br>
                    You claim it's not in the cards<br>
                    And fate is pulling you miles away and out of reach from me<br>
                    But you're here in my <em>heart</em><br>
                    So who can stop me if I decide that you're my <em>destiny?</em>
                </p>
            </div>
            <div class="text">
                <h3 class="lyric-text yellow"><em>Rewrite the Stars</em> by <br>
                    Zac Efron & Zendaya</h3>
            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>