<%- include('partials/header.ejs') %>

    <!-- <div class="border">
        <div class="container">
            <div class="text">
                <h3 class="lyric-text"><em></em></h3>
            </div>
            <div class="text"></div>
        </div>
    </div> -->

    <div class="border">
        <div class="container">
            <div class="text">
                <p>If you've got a girlfriend, I'm jealous of her<br>
                    But if you're <em>single</em>, that's honestly worse<br>
                    'Cause you're so <em>gorgeous</em> it actually hurts <em>Honey, it hurts</em><br><br>

                    <em>Ocean blue eyes lookin' in mine<br>
                        I feel like I might sink and drown and die...</em>
                </p>
            </div>
            <div class="text">
                <h3 class="lyric-text pink"><em>Gorgeous </em> by <br>
                    Taylor-Swift</h3>
            </div>
        </div>
    </div>

    <div class="border">
        <div class="container">
            <div class="text">
                <h3 class="lyric-text yellow"><em>Rewrite the Stars</em> by <br>
                    Zac Efron & Zendaya</h3>
            </div>
            <div class="text">
                <p><em>You know I want you</em><br>
                    It's not a secret I try to hide<br>
                    <em>I know you want me</em><br>
                    So don't keep sayin' our hands are tied<br>
                    You claim it's not in the cards<br>
                    And fate is pulling you miles away and out of reach from me<br>
                    But you're here in my <em>heart</em><br>
                    So who can stop me if I decide that you're my <em>destiny?</em>
                </p>
            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>